<!-- appointment_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approved Appointments</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Priscription.css' %}">
</head>
<body>
    <div class="heading">
        <H1> HEALTHCARE APPOINTMENT SYSTEM</H1>
      </div>
    <div class="container">
        <h1>PRESCRIPTION DETAILS</h1>
        <div class="details">
    {% if approved_appointments %}
        <ul>
    {% for app in approved_appointments %}
        <p>Name {{ app.name }} </p>
        <p>Appointment Date {{ app.appointment }}</p>
        <p>Symptoms: {{ app.symptoms }}</p>
    {% endfor %}
        </ul>
    <hr>
        <p>
            Based on your symptoms, we suggest the following tablets for your well-being. Please follow the prescribed dosage and instructions for a speedy recovery. </p>
        <ol>
        <li>Ranitidine - 10</li>
        <li>Omeprazole  - 10</li>
        <li>Escitalopram - 10</li>
        <li>Methylprednisolone - 10</li>
        <li>Hydrochlorothiazide  - 10</li>
        </ol>
        </div>
        <div class="greet">
        <h1>Thank You!</h1>
        <p>
            Thank you for entrusting us with your well-being. Your prescription has been received and processed with care.</p>
        <p>Wishing you a swift recovery and good health. Take care and get well soon!</p>
        </div>
    {% else %}
        <p>No approved appointments available.</p>
    {% endif %}
</div>
</body>
</html>
