<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/Services.css' %}">
</head>
<body>
    <H1> HEALTHCARE APPOINTMENT SYSTEM</H1>
    <div class="header">
            <nav>
                <ul>
                    <li><a href="{% url 'homepage' %}">Home</a></li>
                    <li><a href="{% url 'aboutus' %}">Aboutus</a></li>
                    <li><a href="{% url 'services' %}">Services</a> </li>
                    <li><a href="{% url 'contactus' %}">Contactus</a> </li>
                </ul>
            </nav>
    </div>
    <H3>SERVICES </H3>

    <div class="details1">

        <div class="detailsimg1">

        </div>

    </div>


    <div class="Services1">
        <h2> Easy Appointment Scheduling</h2> 
        <p>
        <ul>
            <li> Effortlessly schedule appointments with your preferred healthcare providers in just a few clicks.</li>
            <li> Tailor your search based on location, specialization, and availability. Receive instant confirmations through our user-friendly interface,</li>
            <li> Effortlessly schedule appointments with your preferred healthcare providers in just a few clicks.</li>
        </ul> 
        </p>
    </div>
        


    <div class="Services1">
        <h2> Emergency Services </h2>
        <p>
            <ul>
                <li>The emergency services locator provides an extra layer of safety, offering peace of mind in urgent situations.</li>
                <li>Ensure prompt and suitable medical care by identifying the nearest healthcare facilities swiftly.</li>
                <li>Access critical information on emergency services, including contacts and details, in real time.</li>
                        
            </ul> 
        </p>
    </div>


    <div class="Services1">
        <h2> Patient Feedback System</h2>
        <p>
            <ul>
                <li> Explore genuine reviews from fellow patients for informed healthcare decisions. </li>
                <li> Share your own experiences to enhance the collective user understanding of healthcare providers. </li>
                <li> Contribute to a transparent and accountable healthcare community by actively participating in our feedback system.</li>
                        
            </ul> 
        </p>
    </div>

    <footer>
        <div class="footer">
            <H6>Copyright © 2023 |   HEALTHCARE APPOINTMENT SYSTEM  | All rights reserved. </H6> 
        </div>
    </footer>

</body>
</html>